body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

button{
  background-color: #3882f6;
}

header, .hero-panel, footer{
  background-color: #1f2937;
}

img, .hero-panel h2, footer, button, .cta-panel{
  color: #f9faf8
}

header a, .hero-panel p{
  color: #e5e7eb;
  font-size: 18px;
}

header img{
  font-size: 24px;
  font-weight: bold
}

.hero-panel h2{
  font-size: 48px;
  font-weight:bolder;
}

.img-background{
  background-color: #475569;
}

.info-panel, .quote-panel{
  color: #1f2937;
}

.info-panel h2{
  font-size: 36px;
  font-weight: extra-bold;
}

.quote-panel{
  background-color: #e5e7eb;
}

.quote-panel .quote{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.cta-panel{
  background-color: #3882f6;
}

/* CSS for Layout/alignment */
body{
  margin: 0px;
}

header, .hero-panel, .info-panel, .quote-panel, .cta-panel, footer{
  padding-left: 200px;
  padding-right: 200px;
}

header{
  display: flex;
  padding-top: 15px;
}

header ul{
  margin: 5px 0px 0px auto;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}