body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

button{
  background-color: #3882f6;
  border-radius: 10px;
  padding: 10px 40px;
  border: none;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bold;
}

header, .hero-panel, footer{
  background-color: #1f2937;
}

img, .hero-panel h2, footer, button, .cta-panel{
  color: #f9faf8
}

header a, .hero-panel p{
  color: #e5e7eb;
  font-size: 18px;
}

header img{
  font-size: 24px;
  font-weight: bold
}

.hero-panel h2{
  font-size: 48px;
  font-weight:bolder;
}

.img-background{
  background-color: #475569;
}

.info-panel, .quote-panel{
  color: #1f2937;
}

.info-panel h2{
  font-size: 36px;
  font-weight: extra-bold;
}

.info-panel p{
  color: #475569;
}

.info-panel .info-image-div{
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.quote-panel{
  background-color: #e5e7eb;
}

.quote-panel .quote{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.cta-panel{
  background-color: #3882f6;
}

/* CSS for Layout/alignment except for button styles which apply to all buttons regardless of location */
body{
  margin: 0px;
}

header, .hero-panel, .info-panel, .quote-panel, .cta-panel, footer{
  padding-left: 200px;
  padding-right: 200px;
}

header{
  display: flex;
  padding-top: 15px;
}

header ul{
  margin: 5px 0px 0px auto;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.hero-panel{
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 50px;
}

.hero-panel-text{
  flex: 1;
}

.img-background{
  flex: 1;
  display:flex;
}

.img-background img{
  margin: auto;
}

.info-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-panel ul{
  list-style-type: none;
  display:flex;
  gap: 30px;
  margin: 0px;
  padding: 25px 100px 100px;
}

.info-panel li{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-image-div{
  margin: auto;
  height: 150px;
  width: 150px;
}